.DrawerToggle {
  width: 4rem;
  height: 100%;

  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.DrawerToggle div {
  width: 90%;
  height: .3rem;
  background-color: #fff;
}

@media (min-width: 500px) {
  .DrawerToggle {
    display: none;
  }
}