.Login {
  margin: 2rem auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 .2rem .3rem #ccc;
  border: 1px solid #eee;
  padding: 1rem;
}

@media (min-width: 600px) {
  .Login {
    width: 50rem;
  }
}