.NavigationItems {
  list-style: none;
  height: 100%;

  display: flex;
  flex-flow: column;
  /* align-items: center; */
}

@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
    align-items: center;
  }
}